annotated-doc==0.0.4
backcall==0.2.0
cffi==2.0.0
click==8.3.1
crcmod==1.7
decorator==5.2.1
getmac==0.9.5
grpcio==1.59.3
influxdb_client==1.50.0
ipython==7.31.1
jedi==0.17.2
Jinja2==3.1.6
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib-inline==0.2.1
mdurl==0.1.2
-e git+https://github.com/mininet/mininet@6eb8973c0bfd13c25c244a3871130c5e36b5fbd7#egg=mininet
netifaces==0.11.0
nnpy==1.4.2
nornir==3.5.0
nornir-rich==0.2.0
p4runtime-shell @ file:///home/boss/p4runtime-shell
packaging==26.0
parso==0.7.1
pexpect==4.9.0
pickleshare==0.7.5
ply==3.11
prompt_toolkit==3.0.52
protobuf==3.20.3
psutil==7.2.2
ptf @ file:///home/boss/ptf
ptyprocess==0.7.0
pycparser==3.0
Pygments==2.19.2
pyperclip==1.8.2
PyYAML==6.0.3
rich==13.9.4
ruamel.yaml==0.19.1
scapy==2.5.0
scapy-helper==0.14.8
setuptools==82.0.1
shellingham==1.5.4
six==1.17.0
tabulate==0.8.10
thrift==0.16.0
traitlets==5.14.3
typer==0.24.1
wcwidth==0.6.0
wheel==0.46.3
